<!--Header-->
<header id="header">
  <!--Main header-->
  <div class="main-header">
    <!--Profile image-->
    <figure class="img-profile">
      <img src="/assets/image/profile.jpg" alt=""/>
    </figure>
    <!--End profile image-->
    <!--Main navigation-->
    <nav id="main-nav" class="main-nav clearfix tabbed">
      <ul>
        <li><a href="#about"><i class="icon-user"></i>About</a></li>
        <li><a href="#portfolio"><i class="icon-camera"></i>Portfolio</a></li>
        <li><a href="#blog"><i class="icon-chat"></i>Blog</a></li>
        <li><a href="#contact"><i class="icon-phone"></i>Contact</a></li>
      </ul>
    </nav>
    <!--End main navigation-->
  </div>
  <!--End main header-->
  <div class="bottom-header bgWhite ofsTSmall ofsBSmall tCenter">
    <ul class="social">
      <li><a href="#"><i class="icon-github"></i></a></li>
      <li><a href="#"><i class="icon-linkedin"></i></a></li>
    </ul>
  </div>
</header>
<!--End  header-->
