---
---
.achievement {
  a {
    text-decoration: none;
    color: inherit;
  }
}

.skill {
  .skills-list {
    list-style-type: circle;

    h4 {
      text-transform: none;
    }
  }

  .primary {
    font-weight: bold;
  }
}
